@import "imports/variables";
@import "imports/libs_customisation";
@import "imports/general";
@import "imports/page-admin";
@import "imports/page-agenda";
@import "imports/page-profile";
@import "imports/page-login";

a:hover {
  text-decoration: none!important;
}
button:not(btn):focus {
  outline: none;
  outline-offset: unset;
}
.queue-view-container {
  margin: auto;
  padding: 4rem;
  //background-color: lighten(#626262, 55);
  background-color: lighten(red, 46);
  position: relative;
  border-radius: 25px;
}
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  transition: opacity .3s .05s ease-in-out;
}
.fade-leave {

}
.fade-leave-active {
  opacity: 0;
  transition: opacity .3s .05s ease-in-out;
}
